body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
}

h1 {
    display: none;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caixa {
    padding: 80px;
    position: relative;
}

.circle  {
    border: 6px solid #333;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #212121;
}

.luz {
    position: absolute;
    background-color: aqua;
    width: 40px;
    height: 80px;
    z-index: -1;
    border-radius: 50% 50% 25% 25% / 60% 60% 40% 40%;
}

#luz1 {
    left: 50%;
    top: 5px;
    transform: translateX(-50%);

    background-color: #ad3434;
}

#luz2 {
    right: calc(25% - 0.25px);
    top: calc(25% - 0.25px);
    transform: translateX(50%) translateY(-50%) rotate(45deg);

    background-color: #34ad37;
}

#luz3 {
    right: 5px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);

    background-color: #ad3434;
}

#luz4 {
    right: calc(25% - 0.25px);
    bottom: calc(25% - 0.25px);
    transform: translateX(50%) translateY(50%) rotate(135deg);

    background-color: #34ad37;
}

#luz5 {
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%) rotate(180deg);

    background-color: #ad3434;
}

#luz6 {
    left: calc(25% - 0.25px);
    bottom: calc(25% - 0.25px);
    transform: translateX(-50%) translateY(50%) rotate(225deg);

    background-color: #34ad37;
}

#luz7 {
    left: 5px;
    top: 50%;
    transform: translateX(50%) translateY(-50%) rotate(270deg);

    background-color: #ad3434;
}

#luz8 {
    left: calc(25% - 0.25px);
    top: calc(25% - 0.25px);
    transform: translateX(-50%) translateY(-50%) rotate(315deg);

    background-color: #34ad37;
}

.play #luz1 {
    animation: flashRed 4s both infinite;
}

.play #luz2 {
    animation: flashGreen 4s both infinite;
    animation-delay: 0.5s;
}

.play #luz3 {
    animation: flashRed 4s both infinite;
    animation-delay: 1s;
}

.play #luz4 {
    animation: flashGreen 4s both infinite;
    animation-delay: 1.5s;
}

.play #luz5 {
    animation: flashRed 4s both infinite;
    animation-delay: 2s;
}

.play #luz6 {
    animation: flashGreen 4s both infinite;
    animation-delay: 2.5s;
}

.play #luz7 {
    animation: flashRed 4s both infinite;
    animation-delay: 3s;
}

.play #luz8 {
    animation: flashGreen 4s both infinite;
    animation-delay: 3.5s;
}

@keyframes flashRed {
    0%, 100% {
        box-shadow: none;
    }

    12.5% {
        box-shadow: 0px 0px 10px #ff0000,
                    0px 0px 20px #ff0000,
                    0px 0px 30px #ff0000,
                    0px 0px 40px #ff0000,
                    0px 0px 50px #ff0000,
                    0px 0px 60px #ff0000,
                    0px 0px 70px #ff0000,
                    0px 0px 80px #ff0000,
                    0px 0px 90px #ff0000,
                    inset 0px 0px 40px #ff0000,
                    inset 0px 0px 10px rgba(0, 0, 0, 0.05);
    }

    25% {
        box-shadow: none;
    }
}

@keyframes flashGreen {
    0%, 100% {
        box-shadow: none;
    }

    12.5% {
        box-shadow: 0px 0px 10px #00ff06,
                0px 0px 20px #00ff06,
                0px 0px 30px #00ff06,
                0px 0px 40px #00ff06,
                0px 0px 50px #00ff06,
                0px 0px 60px #00ff06,
                0px 0px 70px #00ff06,
                0px 0px 80px #00ff06,
                0px 0px 90px #00ff06,
                inset 0px 0px 40px #00ff06,
                inset 0px 0px 10px rgba(0, 0, 0, 0.05);
    }

    25% {
        box-shadow: none;
    }
}

.switch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.switch1 {
    width: 160px;
    height: 60px;
    cursor: pointer;
}

.switch1::before {
    content: "";
    position: absolute;
    display: block;
    width: 164px;
    height: 84px;
    border-radius: 42px;
    background-color: red;
    transform: translateX(-2px) translateY(-12px);
    z-index: 0;
    background-image: linear-gradient(135deg, #1a1a1a, #262626);
}

.switch1 input {
    display: none;
}

.switch1 div {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(135deg, #212121, #333333);
    border-radius: 25px;
}

.switch1 div::before {
    content: "";
    position: absolute;
    width: 116px;
    height: 46px;
    left: 2px;
    top: 2px;
    border-radius: 23px;
    background-color: red;
    box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.8);
    transition: 0.2s;
}

.switch1 i {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: linear-gradient(-45deg, #212121 20%, #333333);
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8);
    transition: 0.25s;
    transform: translateX(20px);
}

.switch1 i::before {
    content: "";
    position: absolute;
    display: block;
    width: 52px;
    height: 52px;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    background-color: #404040;
    z-index: 1;
}

.switch1 input:checked~i {
    transform: translateX(80px);
}

.switch1 input:checked+div::before {
    background-color: #95ff00;
    box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.6);
}

.switch1 input:checked+div>.off {
    color: transparent;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
}

.switch1 input:checked+div>.on {
    color: #1234;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.on,
.off {
    text-transform: uppercase;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1;
    letter-spacing: 1px;
    transition: 0.25px;
    user-select: none;
}

.off {
    left: initial;
    right: 15px;
    color: #1234;
}